In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

In [4]:
from selenium.webdriver.chrome.options import Options
options = Options()
options.page_load_strategy = 'eager'
driver = webdriver.Chrome(r"C:\Users\chawl\Documents\chromedriver_win32\chromedriver.exe",options=options)

In [20]:
#urls from where we will fethc the data

In [35]:
# opening the portal
urls =['https://www.yatra.com/flight-schedule/delhi-to-mumbai-flights.html',
      'https://www.yatra.com/flight-schedule/delhi-to-bengaluru-flights.html',
      'https://www.yatra.com/flight-schedule/bengaluru-to-delhi-flights.html',
      'https://www.yatra.com/flight-schedule/mumbai-to-delhi-flights.html',
      'https://www.yatra.com/flight-schedule/delhi-to-chennai-flights.html',
      'https://www.yatra.com/flight-schedule/delhi-to-goa-flights.html',
      'https://www.yatra.com/flight-schedule/delhi-to-patna-flights.html',
      'https://www.yatra.com/flight-schedule/delhi-to-kolkata-flights.html',
      'https://www.yatra.com/flight-schedule/delhi-to-srinagar-flights.html',
      'https://www.yatra.com/flight-schedule/kolkata-to-delhi-flights.html',
      'https://www.yatra.com/flight-schedule/bangalore-to-patna-flights.html',
      'https://www.yatra.com/flight-schedule/bangalore-to-kolkata-flights.html',
      'https://www.yatra.com/flight-schedule/mumbai-to-patna-flights.html'
      ]

In [ ]:
#list to store the data

In [36]:
name=[]
departure=[]
arrival=[]
duration=[]
stop=[]
price=[]
departure_loc=[]
arrival_loc=[]
doj=[]

In [ ]:
#code to scrap the data from the sites

In [37]:
# logic to fetch the data for the october date
for i in urls:
    driver.get(i)
    time.sleep(10)
    x = i
    x = x.split("/")
    x = x[len(x)-1]
    x = x.split("-")
    try:
        b = driver.find_element_by_xpath("//i[@class='ytfi-Rebooking fs-20']")
        b.click()
        time.sleep(10)
        r=0
        while r<5:
            b = driver.find_element_by_xpath("//span[@class='ytfi-angle-left']")
            b.click()
            r+=1
        time.sleep(10)
        a = driver.find_element_by_xpath("//td[@class=' shown']")
        a.click()
    except:
        a = driver.find_element_by_xpath("//td[@class=' shown']")
        a.click()
        
    time.sleep(60)
    nam = driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
    depart = driver.find_elements_by_xpath("//div[@class='i-b pr']")
    arri = driver.find_elements_by_xpath("//p[@class='bold fs-15 mb-2 pr time']")
    dur = driver.find_elements_by_xpath("//p[@class='fs-12 bold du mb-2']")
    st = driver.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']")
    pri = driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
    dj = driver.find_element_by_xpath("//div[@class='day-li text-center cursor-pointer pr active font-primary-color']/p")
    for r in nam:
        name.append(r.text)
        departure_loc.append(x[0])
        arrival_loc.append(x[2])
    for r in depart:
        departure.append(r.text)
    for r in arri:
        arrival.append(r.text)
    for r in dur:
        duration.append(r.text)
    for r in st:
        stop.append(r.text)
    for r in pri:
        price.append(r.text)
    for r in nam:
        doj.append(dj.text)
          
    #logic to fetch the data for the next month
    q=1
    while(q<=5):
        driver.get(i)
        time.sleep(10)
    #driver.find_elements_by_xpath("//div[@class='day-li text-center cursor-pointer font-lightgrey']")
        b = driver.find_element_by_xpath("//i[@class='ytfi-Rebooking fs-20']")
        b.click()
        time.sleep(10)
        r=0
        while r<5:
            b = driver.find_element_by_xpath("//span[@class='ytfi-angle-left']")
            b.click()
            r+=1
        b = driver.find_element_by_xpath("//span[@class='ytfi-angle-right']")
        b.click()
        time.sleep(10)
        try:
            a = driver.find_element_by_xpath("//tr[@class='week week-"+str(q)+"']/td/div")
            a.click()
        except:
            a = driver.find_element_by_xpath("//tr[@class='week week-"+str(q)+"']/td[2]/div")
            a.click()
        q+=1   
        time.sleep(60)
        nam = driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
        depart = driver.find_elements_by_xpath("//div[@class='i-b pr']")
        arri = driver.find_elements_by_xpath("//p[@class='bold fs-15 mb-2 pr time']")
        dur = driver.find_elements_by_xpath("//p[@class='fs-12 bold du mb-2']")
        st = driver.find_elements_by_xpath("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']")
        pri = driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
        dj = driver.find_element_by_xpath("//div[@class='day-li text-center cursor-pointer pr active font-primary-color']/p")
        for r in nam:
            name.append(r.text)
            departure_loc.append(x[0])
            arrival_loc.append(x[2])
        for r in depart:
            departure.append(r.text)
        for r in arri:
            arrival.append(r.text)
        for r in dur:
            duration.append(r.text)
        for r in st:
            stop.append(r.text)
        for r in pri:
            price.append(r.text)
        for r in nam:
            doj.append(dj.text)

In [38]:
len(name)

150

In [ ]:
# creating the dataframe and storing to csv

In [39]:
df = pd.DataFrame({
    'name':name,
'departure':departure,
'arrival':arrival,
'duration':duration,
'stop':stop,
'price':price,
'departure_loc':departure_loc,
'arrival_loc':arrival_loc,
'doj':doj
})
df.to_csv('flight_scrapped.csv')

In [45]:
df.head()

,Unnamed: 0,name,departure,arrival,duration,stop,price,departure_loc,arrival_loc,doj
0,0,Air Asia,18:40,06:20\n+ 1 day,11h 40m,1 Stop,"5,953",delhi,mumbai,"Tue, 19 Oct"
1,1,Go First,18:50,20:45,1h 55m,Non Stop,"5,954",delhi,mumbai,"Tue, 19 Oct"
2,2,Air Asia,21:20,14:15\n+ 1 day,16h 55m,1 Stop,"7,926",delhi,mumbai,"Tue, 19 Oct"
3,3,Air India,20:10,20:00\n+ 1 day,23h 50m,1 Stop,"9,000",delhi,mumbai,"Tue, 19 Oct"
4,4,Air India,18:30,13:25\n+ 1 day,18h 55m,1 Stop,"9,840",delhi,mumbai,"Tue, 19 Oct"

In [46]:
df.shape

(1525, 10)